/* src/App.css */
.app-container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.header {
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.1);
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}

.description, .get-started {
  padding: 30px 20px;
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.get-started ol {
  list-style: decimal;
  padding-left: 20px;
  text-align: left;
}

.footer {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

/* App.css
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
} */

.cover-image-container {
  width: 100%; 
  overflow: hidden; 
  align-items: center; 
}

.cover-image {
  align-items: center;
  width: 60%; 
  height: auto; 
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin: 20px 0;
}

.btn {
  padding: 15px 30px; 
  font-size: 18px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.plan-trip-btn {
  background-color: #007bff; 
  color: white; 
}

.locations-btn {
  background-color: #28a745; 
  color: white; 
}

.plan-trip-btn:hover {
  background-color: #0056b3; 
}

.locations-btn:hover {
  background-color: #218838; 
}
