.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popup {
    background-color: #251c1c;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    position: relative;
  }
  
  .trip-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .trip-form input,
  .trip-form textarea {
    width: 96%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .close-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .close-btn:hover {
    background-color: #cc0000;
  }
  
.destination-select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
.tour-guide-label {
    margin-top: 15px;
    display: block;
    font-weight: bold;
  }
  
  .tour-guide-options {
    display: flex;
    justify-content: space-between; 
    margin: 10px 0;
  }
  
  .tour-guide-options label {
    flex: 1; 
    text-align: center; 
  }
  